<html>
    <head>

    </head>
    <body>
        <script type="text/javascript">
            window.opener.postMessage('SIGN_TOKEN_RESPONSE:@ViewData["payload"]');
            window.close();
        </script>
    </body>
</html>